{% extends 'base.html.twig' %}

{% block body %}

                               




<div data-controller="atributai" data-max-width="{{ maxWidth }}" data-min-width="{{ minWidth }}" class="needs-validation" 
    data-atributai-target="formContainer">
<input type="hidden" id="uzs_id" name="uzs_id" value="{{ uzs_id }}" data-atributai-target="uzsId">



<div id="my-table-container" style="display:none;">
    <div id="my-table" data-atributai-target="UzsakymaiLines">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Užsakymo Nr.</th>
                    <th>Gaminys</th>
                    <th>Gaminio tipas</th>
                    <th>Būsena</th>
                    <th>Pristatymas</th>
                    <th>Plotis</th>
                    <th>Aukštis</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



<div class="uzsakymo-eilute p-3 mb-4 border rounded">
    <input type="hidden" id="uze_id" name="uze_id" value="{{ uze_id }}">

    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label for="gam_id" class="form-label">Gaminys</label>
            <select id="gam_id" class="form-select fw-bold" name="gam_id" data-atributai-target="select" data-action="change->atributai#updateTypes" required>
                <option value="" selected disabled>-- Pasirinkite gaminį --</option>
                {% for gaminys in gaminiai %}
                    <option value="{{ gaminys.id }}">{{ gaminys.text }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Pasirinkite gaminį.</div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="mechanism_id" class="form-label">Gaminio tipas</label>
            <select class="form-select" id="mechanism_id" data-atributai-target="gamtipasSelect" 
            data-action="change->atributai#updateFields" required>
                <option value="" selected disabled>Pasirinkite...</option>
            </select>
            <div class="invalid-feedback">Pasirinkite gaminio tipą.</div>
        </div>
    </div>

    
<div id="fields" >

    <input type="hidden" name="uze_id" value="{{ uze_id|default('') }}">

    <div class="row mb-3">
        <div class="col-md-6 mb-3 toggle-field" style="display: none;">
            <label for="productColor" class="form-label">Gaminio spalva</label>
            <select id="productColor" name="productColor" class="form-select" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite...</option>
                {% for spalva in spalvos %}
                    <option value="{{ spalva.id }}">{{ spalva.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Pasirinkite gaminio spalvą.</div>
        </div>

         <div class="col-md-6 mb-3" >
                <label for="materialSelect" class="form-label">Lamelių spalva</label>
                <select id="materialSelect" name="materialSelect" class="form-select"                 
                data-controller="tomselect" data-tomselect-target="select"
                placeholder="Pradėkite rašyti..." autocomplete="off" required>
                </select>
                <div class="invalid-feedback">Pasirinkite medžiagą.</div>
            </div>
        </div>


<div >
   
<select id="exampleSelect" data-controller="tomselect" data-tomselect-target="select">
</select>





{# <div class="col-md-6 mb-3 "  >
                <label for="exampleSelect" class="form-label">Example spalva</label>
                <select id="exampleSelect" name="exampleSelect" class="form-select" 
                data-atributai-target="exampleSelect" 
                placeholder="Pradėkite rašyti..." autocomplete="off" required>
                </select>
                <div class="invalid-feedback">Pasirinkite medžiagą.</div>
            </div>
        </div> #}









    </div>

    <div class="row mb-3">
        <div class="col-md-3 mb-3 toggle-field" style="display: none;">    
            <label for="width" class="form-label">Gaminio plotis</label>
            <div class="input-group">
                <input type="number" class="form-control" id="width" name="width" required
                    onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '-' && event.key !== '+'"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"               
                    data-min-width="{{ minWidth }}"  
                    data-max-width="{{ maxWidth }}"
                    onblur="validateWidth(this);">
                <span class="input-group-text">mm</span>
            </div>

            <div id="width-error-message" class="invalid-feedback d-none"></div>

            <div id="widthWarning" class="alert alert-warning d-none">
                <label class="form-label fw-bold text-danger small">
                    ⚠️ Maksimalus gaminio plotis: <strong>{{ maxWidth }}</strong> mm. Platesniam garantija nesuteikiama.
                </label>
                <div>
                    <input type="radio" id="agree" name="width_agreement" value="agree" required>
                    <label for="agree">Sutinku</label>
                </div>
                <div>
                    <input type="radio" id="disagree" name="width_agreement" value="disagree" required>
                    <label for="disagree">Nesutinku</label>
                </div>
                <div id="widthWarningError" class="text-warning d-none">⚠️ Turite pasirinkti vieną iš variantų!</div>
            </div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="medzwidth" class="form-label">Medžiagos plotis</label>
            <div class="input-group">
                <input type="number" class="form-control" id="medzwidth" name="medzwidth" required
                    onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '-' && event.key !== '+'"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"               
                    onblur="validateMedzwidth(this);">
                <span class="input-group-text">mm</span>
            </div>
            <div id="medzwidth-error-message" class="invalid-feedback d-none"></div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="heigth" class="form-label">Gaminio aukštis</label>
            <div class="input-group">
                <input type="number" class="form-control" id="heigth" name="heigth" required
                    onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '-' && event.key !== '+'"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
                    onblur="validateinput(this);"              
                >
                <span class="input-group-text">mm</span>
            </div>
            <div id="heigth-error-message" class="invalid-feedback d-none"></div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="medzheigth" class="form-label">Medžiagos aukštis</label>
            <div class="input-group">
                <input type="number" class="form-control" id="medzheigth" name="medzheigth" required
                    onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '-' && event.key !== '+'"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"  
                    onblur="validateinput(this);"           
                >
                <span class="input-group-text">mm</span>
            </div>
            <div id="hemedzheigth-error-message" class="invalid-feedback d-none"></div>
        </div>
    </div>

    <div class="d-flex flex-wrap">
        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="valdymas" class="form-label">Valdymas</label>
            <select class="form-select" id="valdymas" name="valdymas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="K">Kairė</option>
                <option value="D">Dešinė</option>
            </select>
            <div class="invalid-feedback">Pasirinkite valdymo kryptį.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="stabdymas" class="form-label">Stabdymo mechanizmas</label>
            <select class="form-select" id="stabdymas" name="stabdymas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="P">Reikia</option>
                <option value="J">Nereikia</option>
            </select>
            <div class="invalid-feedback">Pasirinkite stabdymo mechanizmą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="atitraukimas" class="form-label">Atitraukimo kaladėlė</label>
            <select class="form-select" id="atitraukimas" name="atitraukimas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite atitraukimo kaladėlę.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="montavimasi" class="form-label">Montavimo vieta</label>
            <select class="form-select" id="montavimasi" name="montavimasi" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="S">Prie stiklo</option>
                <option value="R">Ant lango rėmo</option>
                <option value="L">Į lubas</option>
                <option value="N">Virš nišos</option>
            </select>
            <div class="invalid-feedback">Pasirinkite montavimo vietą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="valoitempimas" class="form-label">Valo įtempimas</label>
            <select class="form-select" id="valoitempimas" name="valoitempimas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite valo įtempimą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="approfiliofiks" class="form-label">Ap. prof. fiksacija</label>
            <select class="form-select" id="approfiliofiks" name="approfiliofiks" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite ap. profilio fiksacija.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="valdymotipas" class="form-label">Valdymo tipas</label>
            <select class="form-select" id="valdymotipas" name="valdymotipas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="V">Virvele</option>
                <option value="P">Pagaliuku</option>
            </select>
            <div class="invalid-feedback">Pasirinkite valdymo tipą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="karnyzoapdaila" class="form-label">Karnyzo med. apdaila</label>
            <select class="form-select" id="karnyzoapdaila" name="karnyzoapdaila" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="V">Tiesi apdaila</option>
                <option value="P">Apdaila kairėje</option>
                <option value="V">Apdaila dešinėje</option>
                <option value="P">Apdaila abiejose pusėse</option>
                <option value="P">Be karnyzo</option>
            </select>
            <div class="invalid-feedback">Pasirinkite karnyzo med. apdailą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="karnyzodangtelis" class="form-label">Karnyzo dangtelis</label>
            <select class="form-select" id="karnyzodangtelis" name="karnyzodangtelis" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite karnyzo dangtelį.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="juostelineskopeteles" class="form-label">Juostelinės kopetėlės</label>
            <select class="form-select" id="juostelineskopeteles" name="juostelineskopeteles" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite juostelines kopetėles.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="nukreipiamiejitrosai" class="form-label">Nukreipiamieji trosai</label>
            <select class="form-select" id="nukreipiamiejitrosai" name="nukreipiamiejitrosai" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite nukreipiamuosius trosus.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="lamelkrastdazymas" class="form-label">Lamelių kraštų dažymas</label>
            <select class="form-select" id="lamelkrastdazymas" name="lamelkrastdazymas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite lamelių kraštų dažymą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="tipas" class="form-label">Tipas</label>
            <select class="form-select" id="tipas" name="tipas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="P">Premium</option>
                <option value="S">Standart</option>
            </select>
            <div class="invalid-feedback">Pasirinkite tipą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="kreipianciosios" class="form-label">Kreipiančiosios</label>
            <select class="form-select" id="kreipianciosios" name="kreipianciosios" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="33">33 mm.</option>
                <option value="P">Plačios</option>
                <option value="PS">pusapvalėm stiklajuostėm</option>
            </select>
            <div class="invalid-feedback">Pasirinkite kreipiančiasias.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="medpasunkimas" class="form-label">Medžiagos pasunkimas</label>
            <select class="form-select" id="medpasunkimas" name="medpasunkimas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="T">Taip</option>
                <option value="N">Ne</option>
            </select>
            <div class="invalid-feedback">Pasirinkite medžiagos pasunkimą.</div>
        </div>
    
        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="strypas" class="form-label">Strypas</label>
            <select class="form-select" id="strypas" name="strypas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="10">10 mm.</option>
                <option value="8">8 mm.</option>
            </select>
            <div class="invalid-feedback">Pasirinkite strypą.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="rankenospuse" class="form-label">Rrankenos pusė</label>
            <select class="form-select" id="rankenospuse" name="rankenospuse" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="K">Keirėje</option>
                <option value="D">Dešinėje</option>
            </select>
            <div class="invalid-feedback">Pasirinkite rankenos pusę.</div>
        </div>
    
        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="Skersinis" class="form-label">Skersinis</label>
            <div class="input-group">
                <input type="number" class="form-control" id="Skersinis" name="Skersinis" required
                    onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '-' && event.key !== '+'"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"  
                    onblur="validateinput(this);"             
                >
                <span class="input-group-text">mm</span>
                <div class="invalid-feedback">Įveskite skrsinio dydį.</div>
            </div>
        </div>      

        <div class="col-md-3 mb-3 toggle-field" style="display: none;" >
            <label for="vyriai" class="form-label">Vyriai</label>
            <select class="form-select" id="vyriai" name="vyriai" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="P">Premium</option>
                <option value="S">Standart</option>
            </select>
            <div class="invalid-feedback">Pasirinkite vyrius.</div>
        </div>

        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="uzdarymotipas" class="form-label">Uždarymo tipas</label>
            <select class="form-select" id="uzdarymotipas" name="uzdarymotipas" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite</option>
                <option value="P">Magnetiniai pritraukjėjai</option>
                <option value="J">Magnetinė juosta</option>
            </select>
            <div class="invalid-feedback">Pasirinkite uždarymo tipą.</div>
        </div>
    </div>
        <div class="row mb-3 ">
            <div class="col-md-12 mb-3 toggle-field" style="display: none;">
                <label for="comments" class="form-label">Komentarai gamybai</label>
                <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Įrašykite komentarus..." ></textarea>
                <div class="invalid-feedback">Komentarai gamybai</div>
            </div>
        </div>

    <button onclick="nustatyti(this)" class="btn btn-primary">
        Paslėpti viską, bet rodyti Plotį
    </button>        
    
</div>





 

    
            
                       
 <div class="d-grid gap-2">
        <button type="button" class="btn btn-success btn-lg" data-action="click->atributai#issaugoti">Išsaugoti</button>
</div>


    
    
</div>
{% endblock %}