{% extends 'base.html.twig' %}

{% block body %}

                               




<div data-controller="atributai" data-max-width="{{ maxWidth }}" data-min-width="{{ minWidth }}" class="needs-validation" 
    data-atributai-target="formContainer">
<input type="hidden" id="uzs_id" name="uzs_id" value="{{ uzs_id }}" data-atributai-target="uzsId">


<div class="uzsakymo-eilute p-3 mb-4 border rounded">
    <input type="hidden" id="uze_id" name="uze_id" value="{{ uze_id }}">

    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label for="gam_id" class="form-label">Gaminys</label>
            <select id="gam_id" class="form-select fw-bold" name="gam_id" data-atributai-target="select" data-action="change->atributai#updateTypes" required>
                <option value="" selected disabled>-- Pasirinkite gaminį --</option>
                {% for gaminys in gaminiai %}
                    <option value="{{ gaminys.id }}">{{ gaminys.text }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Pasirinkite gaminį.</div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="mechanism_id" class="form-label">Gaminio tipas</label>
            <select class="form-select" id="mechanism_id" data-atributai-target="gamtipasSelect" 
            data-action="change->atributai#updateFields" required>
                <option value="" selected disabled>Pasirinkite...</option>
            </select>
            <div class="invalid-feedback">Pasirinkite gaminio tipą.</div>
        </div>
    </div>

    <div data-atributai-target="fields"></div>

</div>

    
                     
                       
 <div class="d-grid gap-2">
        <button type="button" class="btn btn-success btn-lg" data-action="click->atributai#issaugoti">Išsaugoti</button>
</div>

<div id="my-table-container" style="display:none;">
    <div id="my-table" data-atributai-target="UzsakymaiLines">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Užsakymo Nr.</th>
                    <th>Gaminys</th>
                    <th>Gaminio tipas</th>
                    <th>Būsena</th>
                    <th>Pristatymas</th>
                    <th>Plotis</th>
                    <th>Aukštis</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
    
    
</div>

  	
      

{% endblock %}