{% extends 'base.html.twig' %}
{% import 'macros/form_macros.twig' as form %}

{% block body %}

                               



<div class="position-relative mb-3 text-center">
    <a href="/uzsakymai" class="btn btn-outline-secondary btn-sm position-absolute start-0 top-0">
        ← Grįžti į užsakymų sąrašą
    </a>
    <h4 class="text-uppercase fw-semibold">Užsakymas</h4>
</div>
<div data-controller="atributai" data-max-width="{{ maxWidth }}" data-min-width="{{ minWidth }}" class="needs-validation" 
    data-atributai-target="formContainer">
<input type="hidden" id="uzs_id" name="uzs_id" value="{{ uzs_id }}" data-atributai-target="uzsId">

<div class="row mb-3">
    <div class="col-md-3">
        <label for="uzs_nr" class="form-label">Užsakymo numeris</label>
        <input type="text" class="form-control" id="uzs_nr" name="uzs_nr" value="{{ uzs_nr ?? '' }}" readonly>        
    </div>

    <div class="col-md-3">
        <label for="uzs_pristatymas" class="form-label">Pristatymas</label>
        <select class="form-select" id="uzs_pristatymas" name="uzs_pristatymas" required>
            <option value="" disabled {% if uzs_pristatymas is not defined or uzs_pristatymas == '' %}selected{% endif %}>Pasirinkite</option>
            <option value="S" {% if uzs_pristatymas == 'S' %}selected{% endif %}>Su pristatymu</option>
            <option value="A" {% if uzs_pristatymas == 'A' %}selected{% endif %}>Atsiėmimas gamykloje</option>
        </select>
        <div class="invalid-feedback">Pasirinkite pristatymo būdą.</div>
    </div>

    <div class="col-md-3">
        <label class="form-label">Užsakymo kaina be PVM</label>
        <p class="form-control-plaintext fw-bold text-dark" id="kaina_be_pvm">0.00 €</p>
    </div>

    <div class="col-md-3">
        <label class="form-label">Užsakymo kaina su PVM</label>
        <p class="form-control-plaintext fw-bold text-dark" id="kaina_su_pvm">0.00 €</p>
    </div>
</div>

<h5 class="mt-4 mb-2 text-center text-uppercase fw-semibold">Užsakomų gaminių sąrašas</h5>
<div id="my-table-container" style="display:none;">
    <div id="my-table" data-atributai-target="UzsakymaiLines">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Užsakymo Nr.</th>
                    <th>Gaminys</th>
                    <th>Gaminio tipas</th>
                    <th>Būsena</th>
                    <th>Pristatymas</th>
                    <th>Plotis</th>
                    <th>Aukštis</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<a href="#" class="btn btn-outline-primary" data-action="atributai#naujasGaminys">
    ➕ Naujas gaminys
</a>


<div class="container-fluid p-0">
    <div class="p-2 m-0 w-100 border border-secondary-subtle rounded bg-body-tertiary shadow-sm">
<div class="uzsakymo-eilute p-3 mb-4 border rounded">
    <input type="hidden" id="uze_id" name="uze_id" value="{{ uze_id }}" data-atributai-target="uzeId">
    <div id="fields" data-atributai-target="fields">
    
    <div class="row mb-3 toggle-field" style="display: none;">
        <div class="col-md-6 mb-3">
            <label for="gam_id" class="form-label">Gaminys</label>
            <select id="gam_id" class="form-select fw-bold" name="gam_id" data-atributai-target="select" data-action="change->atributai#updateTypes" required>
                <option value="" selected disabled>-- Pasirinkite gaminį --</option>
                {% for gaminys in gaminiai %}
                    <option value="{{ gaminys.id }}">{{ gaminys.text }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Pasirinkite gaminį.</div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="mechanism_id" class="form-label">Gaminio tipas</label>
            <select class="form-select" id="mechanism_id" data-atributai-target="gamtipasSelect"  
                    required>
                <option value="" selected disabled>Pasirinkite...</option>
            </select>
            <div class="invalid-feedback">Pasirinkite gaminio tipą.</div>
        </div>
    </div>

    


   <div class="row mb-3">
        <div class="col-md-6 mb-3 toggle-field" style="display: none;">
            <label for="productColor" class="form-label">Gaminio spalva</label>
            <select id="productColor" name="productColor" class="form-select" onblur="validateinput(this);" required>
                <option value="" selected disabled>Pasirinkite...</option>
                {% for spalva in spalvos %}
                    <option value="{{ spalva.id }}">{{ spalva.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Pasirinkite gaminio spalvą.</div>
        </div>

     <div class="col-md-6 mb-3 toggle-field" style="display: none;">
    <label for="materialInput" class="form-label">Lamelių spalva</label>
    <div data-controller="select2" data-select2-mechanism-id-value="0" class="position-relative">
        <!-- Input -->
        <input
            type="text"
            id="materialInput"
            name="materialInput"
            required
            class="form-control"
            data-select2-target="input"
            data-url="/uzsakymai/medziagos-paieska"
            autocomplete="off"
            placeholder="Pradėkite rašyti..."
            onblur="validateinput(this);"
        >

        <!-- Klaidos žinutė -->
        <div class="invalid-feedback">Pasirinkite lamelių spalvą.</div>

        <!-- Pasirinktos reikšmės ID -->
        <input type="hidden" id="materialId" name="materialId">

        <!-- Spinner -->
        <div class="spinner-border text-primary d-none position-absolute top-0 end-0 m-2"
            role="status"
            data-select2-target="spinner"
            style="width: 1.5rem; height: 1.5rem;">
            <span class="visually-hidden">Kraunama...</span>
        </div>

        <!-- Dropdown sąrašas -->
        <ul class="list-group position-absolute w-100 d-none autocomplete-list z-3"
            data-select2-target="list">
        </ul>
    </div>
</div>

</div>


<div >


    </div>

    <div class="row mb-3">
        {{ form.widthInputWithAgreement() }}
        {{ form.numberInput('medzwidth', 'medzwidth', 'Medžiagos plotis', true, 'validateMedzwidth', 'medzwidth-error-message') }}
        {{ form.numberInput('heigth', 'heigth', 'Gaminio aukštis', true, 'validateinput', 'heigth-error-message') }}
        {{ form.numberInput('medzheigth', 'medzheigth', 'Medžiagos aukštis', true, 'validateinput', 'medzheigth-error-message') }}
    </div>

    <div class="d-flex flex-wrap">
        {{ form.selectInput('valdymas', 'valdymas', 'Valdymas', [
        { value: 'K', label: 'Kairė' },
        { value: 'D', label: 'Dešinė' }
        ], 'Pasirinkite valdymo kryptį.') }}

    {{ form.selectInput('stabdymas', 'stabdymas', 'Stabdymo mechanizmas', [
        { value: 'P', label: 'Reikia' },
        { value: 'J', label: 'Nereikia' }
    ], 'Pasirinkite stabdymo mechanizmą.') }}

    {{ form.selectInput('atitraukimas', 'atitraukimas', 'Atitraukimo kaladėlė', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite atitraukimo kaladėlę.') }}

    
    {{ form.selectInputMontavimasI(
        'montavimasi',
        'montavimasi',
        'Montavimo vieta',
        [
            { value: 'S', label: 'Prie stiklo' },
            { value: 'R', label: 'Ant lango rėmo' },
            { value: 'L', label: 'Į lubas' },
            { value: 'N', label: 'Virš nišos' }
        ],
        'Pasirinkite montavimo vietą.',
        { id: 'montavimasi' }   
    ) }}
    


    
    


    {{ form.selectInput('valoitempimas', 'valoitempimas', 'Valo įtempimas', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite valo įtempimą.') }}

    {{ form.selectInput('approfiliofiks', 'approfiliofiks', 'Ap. prof. fiksacija', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite ap. profilio fiksaciją.') }}

    {{ form.selectInput('valdymotipas', 'valdymotipas', 'Valdymo tipas', [
        { value: 'V', label: 'Virvelė' },
        { value: 'P', label: 'Pagaliuku' }
    ], 'Pasirinkite valdymo tipą.') }}

    {{ form.selectInput('karnyzoapdaila', 'karnyzoapdaila', 'Karnyzo med. apdaila', [
        { value: 'V', label: 'Tiesi apdaila' },
        { value: 'P', label: 'Apdaila kairėje' },
        { value: 'D', label: 'Apdaila dešinėje' },
        { value: 'B', label: 'Apdaila abiejose pusėse' },
        { value: 'N', label: 'Be karnyzo' }
    ], 'Pasirinkite karnyzo med. apdailą.') }}

    {{ form.selectInput('karnyzodangtelis', 'karnyzodangtelis', 'Karnyzo dangtelis', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite karnyzo dangtelį.') }}

    {{ form.selectInput('juostelineskopeteles', 'juostelineskopeteles', 'Juostelinės kopetėlės', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite juostelines kopetėles.') }}

    {{ form.selectInput('nukreipiamiejitrosai', 'nukreipiamiejitrosai', 'Nukreipiamieji trosai', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite nukreipiamuosius trosus.') }}

    {{ form.selectInput('lamelkrastdazymas', 'lamelkrastdazymas', 'Lamelių kraštų dažymas', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite lamelių kraštų dažymą.') }}

    {{ form.selectInput('tipas', 'tipas', 'Tipas', [
        { value: 'P', label: 'Premium' },
        { value: 'S', label: 'Standart' }
    ], 'Pasirinkite tipą.') }}

    {{ form.selectInput('kreipianciosios', 'kreipianciosios', 'Kreipiančiosios', [
        { value: '33', label: '33 mm.' },
        { value: 'P', label: 'Plačios' },
        { value: 'PS', label: 'pusapvalėm stiklajuostėm' }
    ], 'Pasirinkite kreipiančiasias.') }}

    {{ form.selectInput('medpasunkimas', 'medpasunkimas', 'Medžiagos pasunkimas', [
        { value: 'T', label: 'Taip' },
        { value: 'N', label: 'Ne' }
    ], 'Pasirinkite medžiagos pasunkimą.') }}

    {{ form.selectInput('strypas', 'strypas', 'Strypas', [
        { value: '10', label: '10 mm.' },
        { value: '8', label: '8 mm.' }
    ], 'Pasirinkite strypą.') }}

    {{ form.selectInput('rankenospuse', 'rankenospuse', 'Rankenos pusė', [
        { value: 'K', label: 'Kairėje' },
        { value: 'D', label: 'Dešinėje' }
    ], 'Pasirinkite rankenos pusę.') }}
    
        <div class="col-md-3 mb-3 toggle-field" style="display: none;">
            <label for="Skersinis" class="form-label">Skersinis</label>
            <div class="input-group">
                <input type="number" class="form-control" id="Skersinis" name="Skersinis" required
                    onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '-' && event.key !== '+'"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"  
                    onblur="validateinput(this);"             
                >
                <span class="input-group-text">mm</span>
                <div class="invalid-feedback">Įveskite skrsinio dydį.</div>
            </div>
        </div>      

        {{ form.selectInput('vyriai', 'vyriai', 'Vyriai', [
            { value: 'P', label: 'Premium' },
            { value: 'S', label: 'Standart' }
        ], 'Pasirinkite vyrius.') }}

        {{ form.selectInput('uzdarymotipas', 'uzdarymotipas', 'Uždarymo tipas', [
            { value: 'P', label: 'Magnetiniai pritraukjėjai' },
            { value: 'J', label: 'Magnetinė juosta' }
        ], 'Pasirinkite uždarymo tipą.') }}
    
        {{ form.textareaInput('comments', 'comments', 'Komentarai gamybai', 'Įrašykite komentarus...', 'Komentarai gamybai') }}

  <!-- <button type="button" onclick="testLaukuValymas(event)">Test</button>-->
    
</div>

   
 <div id="alert-container" class="alert d-none" role="alert"></div>                      
<div class="d-flex justify-content-between">
    {{ form.saveButton('atributai#issaugoti') }}
    {{ form.deleteButton('atributai#pasalinti') }}
</div>

   
    
</div>
</div>

</div>



<script>
function testLaukuValymas(event) {
    const formElement = document.querySelector('[data-controller="atributai"]'); // arba kita forma
    if (!window.validateVisibleFields(event, formElement)) {
        console.log("Forma turi klaidų.");
        return;
    }

    console.log("Forma teisinga.");
}

document.addEventListener("DOMContentLoaded", function () {
    const select = document.getElementById("montavimasi");
    const heightGroup = document.getElementById("virsnisoscmGroup");
    const heightInput = document.getElementById("virsnisoscm");

    function checkMontavimas() {
        if (select.value === "N") {
            heightGroup.classList.remove("d-none");
        } else {
            heightGroup.classList.add("d-none");
            heightInput.value = "";
        }
    }

    select.addEventListener("change", checkMontavimas);

    // jei jau yra parinktas "N", parodyk iškart
    checkMontavimas();
});
</script>

{% endblock %}